<div class="blog">
	<div class="banner" id="page_top">
		<h2>Food for thought</h2>
	</div>
	<div class="listings">
		<div class="wrapper">
			<ul class="properties_list">
				<% @blogposts.each do |blogpost| %>
				<li>
					<a href=<%= blogpost_path(blogpost) %>>
						<% if !blogpost.photos.first.nil? %>
      				        <%= image_tag( blogpost.photos.first.image_url, :class => "property_img")  %>
      			        <% end %>

					</a>
					<div class="property_details">
						<h1>
							<%= link_to blogpost.title, blogpost, :method => :get %>
						</h1>
						<h2><%= blogpost.created_at.strftime("%d %b %Y") %> 
							<span class="property_size">
								( <%= link_to pluralize(blogpost.comments.count, "comment"), blogpost, :method => :get %> )
							</span>
						</h2>
					</div>
				</li>
        <% end %>






			</ul>
			<%= will_paginate @blogposts, :class => "pages", inner_window: 1, outer_window: 0 %>
		</div>
	</div>	
		
		<div class="clear"> </div>
	</div>	
<!----//End-content---
	</div>
</div>
	<%= will_paginate @blogposts, :class => "pages", inner_window: 1, outer_window: 0 %>
</div>	-->
<!--------//end-blog----------->
