<div class='slide' id='slide1' data-slide='1' data-stellar-background-ratio='0.5'>
  <div class="container">
    <div class="col-md-6 transparency center">
        
      <h2> 
         Introducing the power brunch</h2>
         <h3>
         Build your network and move your career forward over a fun meal
      </h3> 
          <%= form_for(@email) do |f| %>
          <%= render 'shared/error_messages' %>
          <%= f.text_field :email, :placeholder => "Enter your email to join!" %> 
          <div class="center_text"><%= f.submit "Join", class: "btn btn-large btn-warning col-md-3 center"%> </div>
          <% end %>
    </div>
  </div>
</div>
<div id="slide2" data-slide='2' data-stellar-background-ratio='0.5'>
<!--<%= image_tag("first_white_bg_with_text_3.png") %>-->
		<!----start-feartures----->
		<div id="fea" class="features">
		    <h1>How It Works</h1>
			<div class="container">
				<!---- start-features-grids---->
				<div class="features-grids text-center">
				    <div class="col-md-1 features-grid">
				        </div>
					<div class="col-md-2 features-grid">
						<span class="fea-icon1" id="handshake"> </span>
						<h3>Join our community</a></h3>
					</div>
					<div class="col-md-2 features-grid">
						<span class="fea-icon1" id="email"> </span>
						<h3>Receive weekly brunch invites</h3>
					</div>
					<div class="col-md-2 features-grid">
						<span class="fea-icon1" id="laptop"></span>
						<h3>Catch-up on presentations you missed online</h3>
					</div>
					<div class="col-md-2 features-grid">
						<span class="fea-icon1" id="users"></span>
						<h3>Browse member profiles and reach out</h3>
					</div>
					<div class="col-md-2 features-grid">
						<span class="fea-icon1" id="glasses"></span>
						<h3>Attend as many events as you like</h3>
					</div>
					<div class="col-md-1 features-grid">
				        </div>
					<div class="clearfix"> </div>
				</div>
				<!---- //End-features-grids---->
			</div>
		</div>
		<!----//End-feartures----->
    <div class="container">
      <div class="col-md-8 center transparency_events">
          <h2> Upcoming Events</h2>
             <h3>
               <ul>
                 <li>brunch<font color='#808080'><italic>story</italic></font>: listen or join panels profiling careers: conventional and off the beaten path</li>
                 <br>
                 <li>brunch<font color='#808080'><italic>start</italic></font>: hear from successful entrepreneurs on how they got their businesses off the ground</li>
                 <br>
                 <li>brunch<font color='#808080'><italic>skill</italic></font>: work on your professional skills with the pros</li>
                 <br>
                 <li>brunch<font color='#808080'><italic>vest</italic></font>: where should you be investing? get expert advice</li>
                 <br>
                 <li>brunch<font color='#808080'><italic>life</italic></font>: tips & tricks that run the gamut: personal finance, art & wine</li>
               </ul>
             </h3>
          </div>
    </div>
</div>
<div class='slide' id='slide3' data-slide='3'>
  <div class="container">
    <div class="col-md-8 center transparency_slide3">

      <h1> About Us</h1>
         <h3>
        <p>We became friends in college and moved to NYC after graduation, navigating high-power finance jobs and catching up over weekend brunch.
        <br>
        <br>We struggled to find a place that brings together a community of driven, young people to inspire and learn from each other. As we continue 
            to explore our career options, we are working to build a community of like-minded people to share a dialogue that shapes our paths. 
        <br>
        <br>We believe that networking and building our professional and personal skills should be as easy as going to brunch with your friends.
            We imagine a more personal and enjoyable way for 20-somethings to network and get their career questions answered.
        <br>
        <br>So, are you ready for brunch?</p>
      </h3> 

    </div>
  </div>
</div>

