<% provide(:title, "Sign in") %>

<div class='home_slide' id='slide1' data-stellar-background-ratio='0.5'>
  <div class="container">
    <div class="col-md-6 transparency center">
        
      <h2> 
         Sign In
      </h2>
          <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= f.password_field :password %>

      <div class="center_text"><%= f.submit "Sign in", class: "btn btn-large btn-primary center" %></div>
    <% end %>
<div class="center_text"><p>New user? <%= link_to "Sign up now!", signup_path %></p></div>
    
   </div>
  </div>
  
</div>