<% provide(:title, 'All users') %>

<!--<div class="container">
  <h1>All users</h1>
  <div class="col-md-6">
    
    Filter By:
    <%= form_for(@search, :url => { :action => "index" }, :html => {:method => :get} ) do |f| %>
     <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :school %>
      <%= f.text_field :school %>
      
      <%= f.label :company %>
      <%= f.text_field :company %>
      
      <%= f.label :work_position, "Work Position" %>
      <%= f.text_field :work_position %>
      
      <%= f.submit "Filter Users", class: "btn btn-large btn-primary" %>
    <% end %>
    
    <%= will_paginate %>

<div id="userslist">
 <%= render 'users' %>
</div>


</div>
</div>-->

<!-- start slider -->
<div class="slider_bg" >
<div class="wrap">
	<div class="slider">
		
	</div>
</div>
</div>
<!-- start main -->
<div class="main_bg">
<div class="wrap">
	<div class="main_profile">
		<div class="content_profile">

<div class="blog">
 <h2>Users</h2>
	<div class="main">
		  	<div class="wrap">
			 	<div class="single-top">
				 <div class="wrapper_single">
				    <%= render 'users' %>
				    
		</div>
		<!-- TODO: Expand Blogpost Index to include useful items -->
		<div class="rsidebar span_1_of_3">
				
               
               
			 	<div class="Categories">
			 		<h4>Search Users</h4>
				 	<ul class="sidebar">
			           	 <%= form_for(@search, :url => { :action => "index" }, :html => {:method => :get} ) do |f| %>
     <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :school %>
      <%= f.text_field :school %>
      
      <%= f.label :company %>
      <%= f.text_field :company %>
      
      <%= f.label :work_position, "Work Position" %>
      <%= f.text_field :work_position %>
      
      <%= f.submit "Filter Users", class: "btn btn-large btn-primary" %>
    <% end %>
			          </ul>
		        </div>

		 
		</div>
		
		<div class="clear"> </div>
	</div>	
	<%= will_paginate @users, :class => "pages" %>
<!----//End-content---->
	</div>
</div>	
</div>	
</div>	
</div>	
</div>
</div>	