<% provide(:title, @user.name) %>

<!-- start slider -->
<div class="slider_bg" >
<div class="wrap">
	<!--<div class="slider">
	</div>-->
	<br>
</div>
</div>
<!-- start main -->
<div class="main_bg">
<div class="wrap">
	<div class="main_profile">
		<div class="content_profile">
		<!-- start details -->
			<div class= "wrap">
				<div class="details">
												<div class="det_pic"> <!-- align="center" -->
							  <%= image_tag @user.image_url(:thumb).to_s %>
							</div>
					<div class="span_of_4">
						<div class="span1_of_4">

				
							<div class="name_box">
								<h1><%= @user.name %></h1>
								<p><%= @user.email %></p>
							</div>
							
						<!--	<div class="misc_info_box">
								<h4>Events Attended</h4>
								<span>Fusce scelerisque massa vitae</span>
								<p>25 april 2013</p>
								<span>Pellentesque bibendum ante</span>
								<p>15 march 2013</p>
								<span>Maecenas quis ipsum sed magna </span>
								<p>25 april 2013</p>
							</div>-->
							
							<div class="misc_info_box">
							<h4>Latest Comments</h4>
								 <% @comments.each do |comment|  %>
								   
								   	<% blogpost = Blogpost.find_by(:id => comment.blogpost_id) %>
								   	
								   <blog_title><%= link_to blogpost.title, blogpost %></blog_title>
									 <span class="bg">
									 	<%= comment.content %>
									 </span>
									 <p>
									 	<%= comment.created_at.strftime("%b %d %Y %l:%M %p") %>
									 	<% if current_user?(@user) || current_user.admin?  %>
				             				<%= link_to "Delete", comment_path(comment), :method => :delete,  
				                    				 data: { confirm: 'Are you sure?' }%>
				            <% end %>
				            
				           </p>
								<% end %>
								<%= will_paginate @comments, :class => "f_nav1" %>
							</div>
						</div>
					
						<div class="span1_of_4_info">
							<div class="info_box" id="member_educations">
									<%= render 'educations/member_educations' %>
							</div>
							<div class="info_box" id="member_employments">
								<%= render 'employments/member_employments' %>
							</div>
							<div class="info_box" id="future_goals">
								
								<!--<p> <%= @user.goal %> </p>-->
								<%= render 'future_goals' %>

							</div>
						</div>
						<div class="span1_of_4">
							<div class="info_box">
							<span><div style="text-align:center;">Resume</div></span>
							</div>
								<p>
									<div id="user_resume">
									<%= render "userprofile" %>
									</div>
								</p>
							
						</div>
						</div>
					</div>
			
				
				<div class="clear"></div>
			<!-- end details -->
			</div>
	 	</div>
	</div>
</div>
</div>
