<% provide(:title, 'All emails') %>
<div class="send-emails"><h2>Send an Update to All Emails below</h2></div>
  <%= form_tag(send_email_path(:email_content, :subject_line)) do %>
    <div class = "center_text">
      <div class="field compose_email">
        <div><%= text_area :email, :subject_line, :style => "width:350px;", :rows => 1, :placeholder => "Email Subject" %> </div>
        <%= text_area :email, :email_content, :style => "width:500px;", :rows => 20, :placeholder => "Compose Email..." %>
      </div>
      <%= submit_tag("Send Email", class: "btn btn-large btn-primary col-md-3 center", data: { confirm: "Are you sure you want to send to everybody below?"}) %>
    </div>
  <% end %>
<h1>All <%= @emails.count %> emails</h1>
<ul class="emails">
	<%= render @emails %>
</ul>


<%#= form_tag("/search", method: "get") do %>
  <%#= label_tag(:q, "Search for:") %>
  <%#= text_field_tag(:q) %>
  <%#= submit_tag("Search") %>
<%# end %>
