<header class="navbar navbar-fixed-top navbar-default">
  <div class="navbar-inner">
   <div class="full_width">
      <nav>
        <ul class="nav navbar-nav pull-left">
          <li>
            <%= link_to  root_url, id: "logo" do %>
              <font color="#FFA500">brunch</font><font color="#808080">work</font>
            <% end %>
          </li>
        </ul>
      </nav>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Events", events_path %></li>
          <% if signed_in? && current_user.admin? %>
            <li><%= link_to "Members", users_path %></li>
          <% end %>
          <li><%= link_to "Food for thought", blogposts_path %></li>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "My Profile", current_user %></li>
                <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
                <% if current_user.admin? %>
                <li><%= link_to "Create Blogpost", new_blogpost_path %></li>
                <% end %>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <!--<li ><%= link_to "How It Works",  root_url + '#slide2' %></li>
            <li><%= link_to "About Us",   root_url + '#slide3' %></li>-->
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
          
          
        </ul>
      </nav>
   </div> 
  </div>
</header>